<h1>Welcome to RobotWarz</h1>

<h2>Click <a href="/signup">here</a> to signup.<h2>

<form action="/index" method="post">


<label>Signup Here<label>
<input type="text" name="name" placeholder="Your Name">
<label>Password</label>
<input type="password" name="password" placeholder="password">
<input type="submit" value="Sign Up!">

</form>
